In [25]:
import sqlite3

In [26]:
connection = sqlite3.connect('example.db')

In [27]:
table_creation_query = """
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    salary REAL NOT NULL,
    email TEXT UNIQUE NOT NULL UNIQUE
);
"""

In [28]:
table_creation_query2 = """
CREATE TABLE IF NOT EXISTS customers (
    customers_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    phone TEXT
);
"""

In [29]:
table_creation_query3 = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER NOT NULL,
    order_date TEXT NOT NULL,
    total_amount REAL NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers (customers_id)
);
"""

In [30]:
cursor = connection.cursor()
cursor.execute(table_creation_query)
cursor.execute(table_creation_query2)
cursor.execute(table_creation_query3)

In [31]:
#employees_data
employees_data = [
    ('Alice', 60000, 'alice@example.com'),
    ('Bob', 55000, 'bob@example.com'),
    ('Charlie', 70000, 'charlie@example.com'),
]

#customers_data
customers_data = [
    ('Acme Corp', 'contact@acme.com', '555-1234'),
    ('Globex Inc', 'info@globex.com', '555-5678'),
    ('Soylent Corp', 'info@soylent.com', '555-9012'),
]

# orders_data
orders_data = [
    (1, '2025-07-20', 250.75),
    (2, '2025-07-21', 350.00),
    (1, '2025-07-22', 150.25),
]

In [32]:
insert_query = """
INSERT INTO employees (name, salary, email) VALUES (?, ?, ?);
"""

insert_query2 = """
INSERT INTO customers (name, email, phone) VALUES (?, ?, ?);
"""

insert_query3 = """
INSERT INTO orders (customer_id, order_date, total_amount) VALUES (?, ?, ?);
"""

In [33]:
cursor.executemany(insert_query, employees_data)
cursor.executemany(insert_query2, customers_data)
cursor.executemany(insert_query3, orders_data)

In [34]:
connection.commit()

In [35]:
cursor.execute("SELECT * FROM employees;")

In [36]:
for row in cursor.fetchall():
    print(row)

(1, 'Alice', 60000.0, 'alice@example.com')
(2, 'Bob', 55000.0, 'bob@example.com')
(3, 'Charlie', 70000.0, 'charlie@example.com')

In [38]:
from langchain_community.utilities import SQLDatabase

In [39]:
db = SQLDatabase.from_uri("sqlite:///example.db")

In [40]:
db.dialect

'sqlite'

In [41]:
db.get_usable_table_names()

['customers', 'employees', 'orders']

In [45]:
from langchain_google_genai import ChatGoogleGenerativeAI
llm = ChatGoogleGenerativeAI(model="gemini-1.5-flash")

In [46]:
llm.invoke("how are ypu?")

AIMessage(content='I am doing well, thank you for asking!  How are you today?', additional_kwargs={}, response_metadata={'prompt_feedback': {'block_reason': 0, 'safety_ratings': []}, 'finish_reason': 'STOP', 'model_name': 'gemini-1.5-flash', 'safety_ratings': []}, id='run--e86c9167-e0d4-496d-ab75-071bb2ca339b-0', usage_metadata={'input_tokens': 5, 'output_tokens': 17, 'total_tokens': 22, 'input_token_details': {'cache_read': 0}})